@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
}



:root
{
    --principal: #25282D;  
    --bac: #f5f5f5;
    --sec: #D5465A;
}

html
{
    scroll-behavior: smooth;
}
body
{
    position: relative;
}

body::-webkit-scrollbar
{
    width: 4px;
    background: transparent;
}

body::-webkit-scrollbar-thumb
{
    background: var(--principal);
    border-radius: 4px;
}

.navegador-alternativo
{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    transition: opacity 1s ease-out;
    
}
.navegador-alternativo .ativador
{
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    box-shadow: 0px 4px 16px #25282d69;
    background: var(--bac);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegador-alternativo .ativador ion-icon
{
    font-weight: 900;
    font-size: 18px;
    color: var(--principal);
    transition: transform 1s ease;
    transform: translateX(-5%);
}

.navegador-alternativo nav:hover .ativador ion-icon
{
    transform: rotate(180deg);
}

.navegador-alternativo.oculto
{
    opacity: 0;
    visibility: hidden;
}

.navegador-alternativo nav
{
    border-radius: 12px;
    background: var(--bac);
    transition: transform .4s ease-out ;
    transform: translateX(70%);
    padding: 12px;
    box-shadow: 0px 24px 40px #25282d27;
    
}



.navegador-alternativo nav:hover 
{
    transform: translateX(10%);
}

.navegador-alternativo nav ul
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.navegador-alternativo nav ul li
{
    list-style: none;
}

.navegador-alternativo nav ul li a
{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--principal);
    text-decoration: none;
    padding: 4px 8px;
    transition: .4s ease-out;
    border-radius: 12px;
}
.navegador-alternativo nav ul li.sel a
{
    background: var(--sec);
    color: var(--bac);
}
.navegador-alternativo nav ul li a:hover
{
    background: var(--sec);
    color: var(--bac);
}

.navegador-alternativo nav ul li a ion-icon
{
    font-size: 1.5em;
}

/* =================Inicio==================*/
.inicio
{
    background: var(--bac);
    padding-inline: 100px;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.inicio header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-out;
    
}


/*============LOGO==============*/

.inicio header .logo
{
    height: 100px;
    width: auto;
}

.inicio header .logo img
{
    width: 100%;
    height: 100%;   
}
/*============MENU==============*/

.inicio header .menu ul
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.inicio header .menu ul li
{
    list-style: none;
}

.inicio header .menu ul li a
{
    color: var(--principal);
    text-decoration: none;
    font-weight: 500;
    border-radius: 16px;
    padding: 4px 16px;
    transition: .3s ease-in-out; 
    
}

/* .inicio header .menu ul li.sel a
{
    position: relative;
} */

.inicio header .menu ul li a:hover
{
    color: var(--sec);
}

.inicio header .menu ul li.sel a
{
    background: var(--sec);
    color: var(--bac);
}

/* .inicio header .menu ul li.sel a::before
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-60%);
    width: 18px;
    height: 3px;
    border-radius: 8px;
    background: var(--principal);
    box-shadow: 0 0 3px var(--principal);
    
} */





/*===========conteudo===========*/

.cont-inicio
{
    display: flex;
    padding: 0px 0px 0px 10px;
    justify-content: space-between;
    transition: .3s ease-out;
}


.cont-inicio .text 
{
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cont-inicio .text .comprimentos h2
{
    font-weight: 600;
    
}

.cont-inicio .text .comprimentos h2 span
{
    font-weight: 700;
    color: var(--sec);
}

.cont-inicio .text .comprimentos h1
{
    font-size: 3.5em;
}

.cont-inicio .text .comprimentos p
{
    font-weight: 600;
    padding-inline-start: 10px;
    width: 500px;
}

.cont-inicio .text .botoes
{
    display: flex;
    gap: 16px;
    padding-top: 50px;
}

.cont-inicio .text .botoes a
{
    display: flex;
    align-items: center;
    gap: 8px ;
    padding:8px 24px ;
    text-decoration: none;
    border: 2px solid var(--principal);
    background: var(--principal);
    color: var(--bac);
    border-radius: 12px;
    transition: .3s ease-in-out;
}
.cont-inicio .text .botoes a:hover
{
    background: var(--sec);
    border: 2px solid var(--sec);
}

.cont-inicio .text .botoes a:nth-child(1)
{
    background: transparent;
    color: var(--principal);
}

.cont-inicio .text .botoes a:nth-child(1):hover
{
    border: 2px solid var(--sec);
    background: transparent;
    color: var(--sec);
}

.cont-inicio .text .botoes a p
{
    font-size: 16px;
}

.cont-inicio .text .botoes a ion-icon
{
    font-size: 24px;
}

/*=================fotot===================*/

.cont-inicio .imagem
{
    margin-right:22px ;
    width: auto ;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-right: 100px;
    transform: translateY(-34px);
    
}

.cont-inicio .imagem::before
{
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    transform: rotate(-10deg);
    width: 100%;
    height: 90px;
    background: linear-gradient(to top,var(--bac) 45%, #f5f5f5b9,transparent);
}


.cont-inicio .imagem img
{
    width: 100%;
    height: 100%;
}

/*=================Sobre================*/

.sobre
{
    background: var(--bac);
    padding: 100px 100px 50px 100px;
    
}

.sobre .supercard
{
    display: flex;
    align-items: center;
    gap: 32px;
}

.sobre .supercard .texto-rede-social .texto h2
{
    border-left: 5px solid var(--sec);
    padding-inline: 8px;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--principal);
}
.sobre .supercard .texto-rede-social .texto p
{
    margin-top: 32px;

}
.sobre .supercard .texto-rede-social .texto p span
{
   
    color: var(--sec);
    font-weight: 700;
}

.sobre .supercard .texto-rede-social .linha
{
    margin-top: 20px;
    width: 120px;
    height: 2px;
    background: var(--principal);
}
.sobre .supercard .texto-rede-social .rede-social 
{
    margin-top: 40px;
}
.sobre .supercard .texto-rede-social .rede-social .net-list
{
    display: flex;
    align-items: center;
    gap: 32px;
}

.sobre .supercard .texto-rede-social .rede-social .net-list li
{
    list-style: none;
}

.sobre .supercard .texto-rede-social .rede-social .net-list li a
{
    text-decoration: none;
    color: var(--principal);
    font-size: 2em;
    transition: .3s ease ;
}

.sobre .supercard .texto-rede-social .rede-social .net-list li a:hover
{
    color: var(--sec);
}

/* =================Foto do sobre=====================*/

.sobre .supercard .foto
{
    position: relative;
   

}

.sobre .supercard .foto::before
{
    content: "";
    background: linear-gradient(to top, var(--bac)30%, #f5f5f541, transparent);
    width: 100%;
    height: 150px;
    transform: rotate(10deg) translate(-50px, 20px);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ==========================HABILIDADES==============*/

.habilidades
{
    background: var(--principal);
    padding: 150px 100px;
    position: relative;
   
}

.habilidades h2
{
    color: var(--bac);
    font-size: 28px;
    border-left: 5px solid var(--sec);
    padding-left: 8px;
}

 /* shape*/
 .custom-shape-divider-top-1669585114 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669585114 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1669585114 .shape-fill {
    fill: #F5F5F5;
}

 /*=======fim shape=========*/
.habilidades .lista-de-habilidades
{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}


.habilidades .lista-de-habilidades li
{
    list-style: none;
    color: var(--bac);
    border: 2px solid var(--bac);
    padding: 20px;
    width: 200px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: .3s;
}

.habilidades .lista-de-habilidades li:hover
{
    color: var(--sec);
    border: 2px solid var(--sec);
}

.habilidades .lista-de-habilidades li ion-icon
{
    font-size: 5em;
}

.habilidades .lista-de-habilidades li h3
{
    font-size: 1.5em;
    margin-top: 20px;
}

/*==========Projetos==================*/

.projetos
{
    background: var(--principal);
    padding: 0px 100px ;
}

.projetos h2
{
    color: var(--bac);
    font-size: 28px;
    border-left: 5px solid var(--sec);
    padding-left: 8px;

}


/*=======slide===================*/

.projetos .slide-de-projetos
{

    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.projetos .slide-de-projetos .slidess 
{
    width: 400%;
    height: 80%;
    display: flex;
    overflow: hidden;
}



.projetos .slide-de-projetos .slidess .slide 
{
    width: 25%;
    transition: .8s ease-in;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;

}


/*============Card project================*/
.projetos .slide-de-projetos .slidess .slide .card-projet
{
   width: 250px;
   height: 150px;
   position: relative;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0px 20px 28px rgba(0, 0, 0, 0.274);
}

.projetos .slide-de-projetos .slidess .slide .card-projet .sobre-projeto
{
    position: absolute;
    left: 0;
    bottom: -90%;
    width: 100%;
    height: 100%;
    color: var(--bac);
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(20px);
    padding: 10px 12px;
    transition: .8s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 50px;
}

.projetos .slide-de-projetos .slidess .slide .card-projet:hover .sobre-projeto
{
    justify-content: center;
    bottom: 0px;
    align-items: center;
}

.projetos .slide-de-projetos .slidess .slide .card-projet .sobre-projeto h4
{
    border-left: 3px solid var(--sec);
    padding-left: 5px;
}

.projetos .slide-de-projetos .slidess .slide .card-projet .sobre-projeto p a
{
    color: var(--sec);
    text-decoration: none;
    padding: 4px 12px ;
    transition: .4s ease-out;
    display: flex;
    align-items: center;
    border-radius: 12px;
    gap: 12px;
}
.projetos .slide-de-projetos .slidess .slide .card-projet .sobre-projeto p a:hover
{
    background: var(--sec);
    color: var(--bac);
}

.projetos .slide-de-projetos .slidess .slide .card-projet .bx-img-projeto
{
    width: 100%;
   height: 100%;
   border-radius: 12px;

}

.projetos .slide-de-projetos .slidess .slide .card-projet .bx-img-projeto img
{
   object-fit: cover;
    width: 100%;
    height: 100%;
   
}

.projetos .slide-de-projetos .controles
{
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

}

.projetos .slide-de-projetos .controles .control
{
    border: 1.5px solid var(--bac);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 1s ease;
    transition: border .3s ease;
    
}

.projetos .slide-de-projetos .controles .control.cx
{
    background: var(--bac);
}

.projetos .slide-de-projetos .controles .control.cx:hover
{
    border: 1.5px solid var(--bac);
}

.projetos .slide-de-projetos .controles .control:hover
{
    border: 1.5px solid var(--sec);
}

#slide1:checked ~ .slide.esse
{
    margin-left: 0px;
}
#slide2:checked ~ .slide.esse
{
    margin-left: -25%;
}
#slide3:checked ~ .slide.esse
{
    margin-left: -50%;
}
#slide4:checked ~ .slide.esse
{
    margin-left: -75%;
}

.projetos .slide-de-projetos .slidess input
{
    display: none;
}


/*============O que eu faço=====================*/

.servicos
{
    padding-inline: 100px;
    background: var(--principal);
    padding-bottom: 50px;
}

.servicos h2
{
    color: var(--bac);
    font-size: 28px;
    border-left: 5px solid var(--sec);
    padding-left: 8px;
}

.what-i-do
{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 44px;
    max-width: 90%;
   
}

.what-i-do .item
{
    color: var(--bac);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    padding: 20px 24px;
    text-align: center;
    transition: .3s ease-in;
    border: 2px solid transparent;
}

.what-i-do .item:hover
{
    color: var(--sec);
    border: 2px solid var(--sec);
}

.what-i-do .item ion-icon
{
    font-size: 52px;
    margin-bottom: 12px;
}

.what-i-do .item p 
{
   font-size: .9em;
   max-width: 200px;
   text-align: justify;
}

.what-i-do .item h4
{
    font-size: 1.4em;
    margin-bottom: 8px;
}
 

/*=================Contato=================*/

.contato
{
    padding-inline: 100px;
    background: var(--principal);
    padding-bottom: 50px;
}

.contato h2
{
    color: var(--bac);
    font-size: 28px;
    border-left: 5px solid var(--sec);
    padding-left: 8px;
    margin-bottom: 50px;
}

.conteudo
{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.formulario
{
    border-right: 1px solid var(--bac);
    padding: 50px;
}

.formulario h3
{
    margin-bottom: 32px;
    color: var(--bac);
    border-left: 5px solid var(--sec);
    padding-left: 8px;
    margin-bottom: 50px;
}

.formulario .meter{

    position: relative;
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.096);

}

.formulario .meter:first-child{
    margin-bottom:35px ;
}
.formulario .meter:nth-child(3)
{
    margin-top: 30px;
}

.formulario .meter:nth-child(4)
{
    height: 100px;
    margin-top: 30px;
}

.formulario .meter:nth-child(3) input,
.formulario .meter:nth-child(4) input
{
    font-size: small;
}

.formulario .meter input{

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;

}

.formulario .meter label{

    position: absolute;
    font-size: 15px;
    top: 1px;
    left: 1px;
    padding: 10px;
    color: rgb(241, 237, 237);
    font-weight: 400;
    transition: .5s;
}

.formulario .meter input:focus ~label,
.formulario .meter input:valid ~label
{
    transform: translateY(-35px) translateX(-10px);
    color:  rgb(255, 251, 251);
    font-weight: 500;

}

.formulario .meter #bot
{
    cursor: pointer;
    padding: 8px 16px;
    transition: .3s;
    background: var(--sec);
    border: none;
    text-decoration: none;
    color: var(--bac);
    border-radius: 8px;
   
}

.formulario .meter #bot:hover{

    background: #d85a6b;

}

/*==============card giratorio===================*/
.cards-rd
{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.card {
    width: 10rem;
    cursor: pointer;
    margin: 24px;
  }

  /*===Para facebook===*/

  .card:nth-child(2) .content
  {
    background-color: #1977F3;
  }

  .card:nth-child(2) .description:hover
  {
    background: #1977F3;
    border: 1px solid #1977F3;
  }
  
  /*===Para email===*/

  .card:nth-child(4) .content
  {
    background-color: #EA4335;
  }

  .card:nth-child(4) .description:hover
  {
    background: #EA4335;
    border: 1px solid #EA4335;
  }

  /*===Para linkedin===*/

  .card:nth-child(3) .content
  {
    background-color: #2867B2;
  }

  .card:nth-child(3) .description:hover
  {
    background: #2867B2;
    border: 1px solid #2867B2;
  }
   /*===Para instagram===*/
  
   .card:nth-child(5) .content
   {
     
     background: linear-gradient(43deg, #7909EF 0%, #F0025C 46%, #EEC600 100%);
     ;
   }
 
   .card:nth-child(5) .description:hover
   {
     background: #EEC600;
     border: 1px solid #EEC600;
   }

   /*===Para github===*/

   .card:nth-child(6) .content
  {
    background-color:  #4A2979;
  }

  .card:nth-child(6) .description:hover
  {
    background:  #4A2979;
    border: 1px solid  #4A2979;
  }


 

.content {
    text-align: center;
    position: relative;
    transition: all 1s ease-out;
    background-color: #35BD36;
    padding: 5em;
    transform-style: preserve-3d;
    color: var(--bac);
    border-radius: 12px;
  }
  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 12px;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 4rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: var(--bac);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .description {
    transform: translateZ(3rem);
    color: var(--principal);
    border: 1px solid var(--principal);
    text-decoration: none;
    padding: 4px 12px ;
    transition: .3s ease-in;
    border-radius: 12px;
  }

  .description:hover
  {
    background: #35BD36;
    border: 1px solid #35BD36;
    color: var(--bac);

  }
  

/*=================Footer=============*/

footer
{
    background: var(--principal);
  
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .linha
{
    height: 1px;
    width: 80%;
    background: var(--bac);
    margin: 0px auto;
    margin-bottom: 80px;
}

footer .nome
{
 
}

footer .nome h2
{
    color: var(--bac);
    font-weight: 600;
}

footer .rede-social
{
    margin-top: 32px;
}

footer .rede-social .net-list
{
    display: flex;
    align-items: center;
    gap: 28px;
}

footer .rede-social .net-list li
{
    list-style: none;
}

footer .rede-social .net-list li:hover a
{
    color: var(--sec);
}

footer .rede-social .net-list li a
{
    color: var(--bac);
    font-size: 1.5em;
    transition: .3s ease;
}

footer > p
{
    margin-top: 50px;
    color: var(--bac);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    padding: 24px 8px;
}

/*========Responsividade===========*/

@media (max-width: 1200px) 
{

    /*====Navegador Alternativo=====*/
    /* .navegador-alternativo.oculto
    {
        opacity: 1;
        visibility: visible;
    } */

       .navegador-alternativo nav ul li a ion-icon
    {
        font-size: 1em;
    }

        .navegador-alternativo nav ul li a
    {       
        gap: 8px;
        padding: 2px 4px;
    }

        .navegador-alternativo nav
    {
        transform: translateX(74%);
    }

    /*======padding inline que era 100px======*/
 
        .inicio,.sobre,.projetos,.contato,.servicos
    {
        padding-inline: 50px;
    }


}

@media (max-width: 1000px) 
{
    .inicio,.sobre,.projetos,.contato,.servicos
    {
        padding-inline: 25px;
    }

    .cont-inicio .imagem {
       
        height: 500px;
        transform: translateY(54px);
        margin-right: 50px;
    }

    .cont-inicio .text .botoes {
        padding-top: 20px;
    }

    .sobre
    {
        padding-top: 50px;
    }

    .sobre .supercard {
        gap: 0px;
    }

    .sobre .supercard .foto {
        height: 350px;
        width: auto;
    }

    .sobre .supercard .foto img {
       height: 100%;
    }

    .sobre .supercard .foto::before {   
        transform: rotate(10deg) translate(-10px, 20px);
    }

    .sobre .supercard .texto-rede-social .texto h2 {      
        font-size: 20px;
    }

    .sobre .supercard .texto-rede-social .texto p {
        margin-top: 10px;
        font-size: 14px;
        padding-right: 28px;
    }

    .sobre .supercard .texto-rede-social .rede-social {
        margin-top: 20px;
    }

    .sobre .supercard .texto-rede-social .rede-social .net-list li a {
        font-size: 1.5em;
    }

    /*-====Hbilidades====*/

    .habilidades {
        padding: 150px 50px;
    }
    .habilidades .lista-de-habilidades
    {
        justify-content: center;
    }

    .habilidades .lista-de-habilidades li {
        width: 150px; 
    }

    .habilidades .lista-de-habilidades li ion-icon {
        font-size: 3em;
    }

    /*-====serviços====*/

    .what-i-do .item ion-icon {
        font-size: 40px;
        margin-bottom: 12px;
    }

    .what-i-do .item p {
        font-size: .8em;
        max-width: 150px;
        text-align: center;
    }

    /*==============contatcteme=============*/

    .cards-rd {
        gap: 20px;
    }

    .card {
        width: 7rem;
    }

    .formulario {

        padding: 10px;
    }
}

@media (max-width: 870px) 
{
    .inicio header .menu ul li a {
        padding: 4px 10px;     
    }


    .cont-inicio .text {
    padding-block: 90px;
    gap: 24px;
    }

    .cont-inicio .text .comprimentos h1 {
        font-size: 2.8em;
    }

    .cont-inicio .imagem {
        height: 434px;
        transform: translateY(4px);
        margin-right: 0px;
    }

    .cont-inicio .imagem::before {
      
        bottom: 0px;
        transform: rotate(-0deg);
    }
}

@media (max-width: 750px) 
{
    .cont-inicio .imagem {
        height: 434px;
    }

    .cont-inicio .text .comprimentos h2 {
        font-size: 18px;
    }

    .cont-inicio .text .comprimentos h1 {
        font-size: 2.5em;
    }

    .cont-inicio .text .comprimentos p {
        padding-inline-start: 0px;
        max-width: 400px;
    }

    .cont-inicio .text .botoes a {
        padding: 5px 18px;
    }

    .sobre {
        padding-top: 0px;
        padding-inline-start: 0px;
    }

    .habilidades {
        padding-bottom:70px ;
    }

    .habilidades h2 {
        font-size: 20px;
    }
    .habilidades .lista-de-habilidades li {
        width: 100px;
    }

    .habilidades .lista-de-habilidades li h3 {
        font-size: 1em;
        margin-top: 10px;
    }

    .servicos h2 {
        font-size: 20px;
    }

    .what-i-do {
        margin-left: 0;
    }

    .what-i-do .item h4 {
        font-size: 1.3em;
    }

    .what-i-do .item {
        border-radius: 14px;
        padding: 10px ;
    }

    .projetos {
        padding-inline: 10px;
    }

    .projetos h2 {
        font-size: 20px;
    }

    .projetos .slide-de-projetos
    {
        padding-block: 32px;
    }

    .projetos .slide-de-projetos .slidess .slide .card-projet .sobre-projeto h4 {
        font-size: 1em;
    }

    .projetos .slide-de-projetos .slidess .slide {

        flex-wrap: wrap;
    }
    
    .contato h2 {
        font-size: 20px;
    }

    .content {

        padding: 4em;
    }
    
    .title {
        font-size: 3rem;
    }

    .card {
        width: 5rem;
    }

    .front, .back {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .conteudo {

        gap: 10px;

    }

    .formulario h3 {
      font-size: 16px;
    }

    .formulario .meter {

        width: 222px;
        height: 47px;
    }

    .formulario .meter label {
        font-size: 12px;

    }

        .navegador-alternativo nav
    {

        transform: translateX(95%);

    }
}

@media (max-width: 700px) 
{
    .inicio header .menu  {
       display: none;
    }

        .navegador-alternativo.oculto
    {
        opacity: 1;
        visibility: visible;
    }

    .cont-inicio .text {
        padding-block: 60px;
    }

    .cont-inicio .text .comprimentos h1 {
        font-size: 2.3em;
    }

    .cont-inicio .text .comprimentos p {
        max-width: 380px;
    }
}


@media (max-width: 640px) 
{
    .cont-inicio .text .comprimentos p {
        max-width: 300px;
    }

    .description {

        padding: 4px 8px;
        font-size: 12px;
    }
}

@media (max-width: 580px) 
{
    .cont-inicio .text .comprimentos h1 {
        font-size: 2em;
    }

    .cont-inicio .text .comprimentos h2 {
        font-size: 16px;
    }

    .projetos .slide-de-projetos {
        height: 605px;       
    }

    .conteudo {
        gap: 32px;
        flex-wrap: wrap;
    }

    .formulario {
        border-right: 0px solid var(--bac);

    }

    .formulario .meter {
        width: 380px;
        height: 50px;
    }
}

@media (max-width: 540px) 
{
    .inicio{
       height: auto;
    }
    .cont-inicio {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cont-inicio .text {
        padding-block: 0px;
        width: 100%;
        text-align: center;
    }

    .cont-inicio .text .comprimentos p {
        max-width: 100%;
    }

    .cont-inicio .text .botoes {
        justify-content: center;
    }

    .cont-inicio .text .botoes a {
        padding: 1px 12px;
    }

    .cont-inicio .text .botoes a ion-icon {
        font-size: 16px;
    }

    .cont-inicio .text .botoes a p {
        font-size: 12px;
    }

    .cont-inicio .imagem {
        height: 335px;
    }

    .sobre .supercard {
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .sobre {
        padding-inline:24px;
    }

    .habilidades {
        padding-bottom: 50px;
        padding-inline: 20px;
    }

    .habilidades .lista-de-habilidades li {
        width: 100px;
        padding: 8px;
    }

    .habilidades .lista-de-habilidades li ion-icon {
        font-size: 2em;
    }

    .habilidades .lista-de-habilidades li p{
        font-size: .8em;
    }

    .what-i-do .item ion-icon {
        font-size: 36px;
        margin-bottom: 8px;
    }

    .what-i-do .item h4 {
        font-size: 1em;
    }

    .what-i-do .item p {
        font-size: .6em;
        max-width: 135px;
    }

    footer .nome h2 {
       font-size: 1em;
    }
}


@media (max-width: 410px) 
{
    .inicio, .projetos, .contato, .servicos {
        padding-inline: 10px;
    }

    .formulario .meter {
        width: 220px;
        height: 32px;
    }

    .formulario .meter input {
        padding: 4px;
       
    }

    .formulario .meter label {
        font-size: 12px;
        padding: 0px;
        top: -8px;
        left: 4px;
        transform: translateY(-50%);
    }

    .card {
        margin: 0px;
    }

    .cards-rd {
        gap: 20px;
    }

    .title {
        font-size: 2rem;
        transform: translateZ(2em);
    }

    .subtitle {
       font-size: 12px;
    }

    .front, .back {
      padding: 16px;
    }

    .content {
        padding: 2.3em;
    }
}
